<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ardently.love.delightgame"
    android:installLocation="auto">


    <uses-feature android:glEsVersion="0x00020000"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <permission android:name="com.nsotcg.ufx596.wrmo.permission.JPUSH_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.nsotcg.ufx596.wrmo.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <permission android:name="com.nsotcg.ufx596.wrmo.permission.JOPERATE_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.nsotcg.ufx596.wrmo.permission.JOPERATE_MESSAGE"/>
    <queries>
        <package android:name="com.tencent.mm"/>
        <package android:name="com.tencent.mobileqq"/>
        <intent>
            <action android:name="com.appsflyer.referrer.INSTALL_PROVIDER"/>
        </intent>
    </queries>
    <queries>
        <provider android:authorities="com.facebook.katana.provider.PlatformProvider" android:name="com.facebook.katana.provider.PlatformProvider"/>
    </queries>
    <queries>
        <package android:name="com.whatsapp"/>
    </queries>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:resizeable="true" android:smallScreens="true"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <permission android:name="com.nsotcg.ufx596.wrmo.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.nsotcg.ufx596.wrmo.permission.C2D_MESSAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT"/>
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE"/>
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE"/>
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT"/>
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_APP_BADGE"/>
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_READ"/>
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_WRITE"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>



    <application
        android:name=".NKFade"
        android:allowBackup="true"
        android:fullBackupContent="@xml/kkq_delete"
        android:icon="@mipmap/libgtcore_intent_freecell"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/r_clipboard"
        android:theme="@style/preferenceInformation">
        
<activity
            android:name="com.ardently.love.aligning.BEDGamesActivity"
            android:screenOrientation="portrait" />

<activity
            android:name="com.ardently.love.aligning.DIIAutoYukonActivity"
            android:screenOrientation="portrait" />

<activity
            android:name="com.ardently.love.aligning.YAudioActivity"
            android:screenOrientation="portrait" />

<activity
            android:name="com.ardently.love.aligning.PAHeadersMoneyActivity"
            android:screenOrientation="portrait" />
<activity
            android:name=".ui.about.WFileActivity"
            android:label="@string/movingLoadRely"
            android:theme="@style/waitActivty" />
        <activity
            android:name=".ui.statistics.HZFreecellActivity"
            android:label="@string/stylesLockFrom"
            android:theme="@style/waitActivty" />
        <activity
            android:name=".ui.settings.PUMovability"
            android:label="@string/newsRulesCenter"
            android:theme="@style/waitActivty" />

        <activity
            android:name=".ui.settings.XEPreferences"
            android:label="@string/movesEmptyPref"
            android:theme="@style/waitActivty" />

        <activity android:name=".ui.KGradlew" />
        <activity
            android:name=".ui.manual.JEPictureMiddle"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/moveShared"
            android:theme="@style/preferenceInformation" />
        <activity
            android:name=".ui.CStatisticsContent"
            android:label="@string/app_name"
            android:theme="@style/preferenceInformation" />

        <activity
            android:name="com.ardently.love.fusion.YNNStableActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>




        <activity android:configChanges="keyboard|keyboardHidden|layoutDirection|navigation|orientation|screenSize" android:label="@string/app_name" android:name="org.cocos2dx.javascript.AppActivity" android:screenOrientation="portrait" android:taskAffinity="" android:usesCleartextTraffic="true">
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|layoutDirection|navigation|orientation|screenSize" android:name="org.cocos2dx.javascript.WebGameActivity" android:process=":webH5" android:screenOrientation="sensor" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <provider android:authorities="com.nsotcg.ufx596.wrmo.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/vm_card_media"/>
        </provider>
        <activity android:exported="true" android:launchMode="singleTop" android:name="com.nsotcg.ufx596.wrmo.wxapi.WXEntryActivity" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.tencent.tauth.AuthActivity" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="tencent101793049"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.tencent.connect.common.AssistActivity" android:screenOrientation="behind" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <receiver android:name="org.cocos2dx.javascript.NetworkChangedReceiver"/>
        <activity android:configChanges="keyboardHidden|orientation" android:exported="false" android:name="cn.jpush.android.ui.PopWinActivity" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.nsotcg.ufx596.wrmo"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation" android:exported="false" android:name="cn.jpush.android.ui.PushActivity" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.nsotcg.ufx596.wrmo"/>
            </intent-filter>
        </activity>
        <service android:exported="false" android:name="cn.jpush.android.service.PushService" android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER"/>
                <action android:name="cn.jpush.android.intent.REPORT"/>
                <action android:name="cn.jpush.android.intent.PushService"/>
                <action android:name="cn.jpush.android.intent.PUSH_TIME"/>
            </intent-filter>
        </service>
        <provider android:authorities="com.nsotcg.ufx596.wrmo.DataProvider" android:exported="false" android:name="cn.jpush.android.service.DataProvider" android:process=":pushcore"/>
        <service android:enabled="true" android:exported="true" android:name="cn.jpush.android.service.DaemonService">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService"/>
                <category android:name="com.nsotcg.ufx596.wrmo"/>
            </intent-filter>
        </service>
        <provider android:authorities="com.nsotcg.ufx596.wrmo.DownloadProvider" android:exported="true" android:name="cn.jpush.android.service.DownloadProvider"/>
        <receiver android:enabled="true" android:exported="false" android:name="cn.jpush.android.service.PushReceiver">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/>
                <category android:name="com.nsotcg.ufx596.wrmo"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="cn.jpush.android.service.AlarmReceiver"/>
        <receiver android:exported="false" android:name="org.cocos2dx.javascript.PushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE"/>
                <category android:name="com.nsotcg.ufx596.wrmo"/>
            </intent-filter>
        </receiver>
        <activity android:exported="true" android:name="cn.jpush.android.service.JNotifyActivity" android:process=":pushcore" android:taskAffinity="jpush.custom">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.JNotifyActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.nsotcg.ufx596.wrmo"/>
            </intent-filter>
        </activity>
        <service android:enabled="true" android:exported="false" android:name="org.cocos2dx.javascript.PushService" android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action"/>
            </intent-filter>
        </service>
        <meta-data android:name="JPUSH_CHANNEL" android:value="12345"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="425458c3d13ffe3b650ad93f"/>
        <meta-data android:name="mobilesdk_app_id" android:value="1:242255894784:android:05f1c96e0b902cad837be5"/>
        <meta-data android:name="appsFlyerKey" android:value=""/>
        <meta-data android:name="adjustToken" android:value="t0q0avit06io"/>
        <meta-data android:name="adjustEventCode" android:value="firstRecharge:qqaizj,dailyReward:,rechargeClick:,login:,logout:,withdrawClick:,recharge:yumxy8,withdrawOrderSuccess:,vipReward:,firstOpenApp:,registerClick:,enterGame:,register:jdb3u3"/>
        <meta-data android:name="facebook_client_token" android:value=""/>
        <meta-data android:name="oneSignal" android:value=""/>
        <provider android:authorities="com.facebook.app.FacebookContentProvider245358521413979" android:exported="true" android:name="com.facebook.FacebookContentProvider"/>
        <meta-data android:name="com.facebook.GVTests.ApplicationId" android:value="@string/contentVolume"/>
        <meta-data android:name="com.facebook.GVTests.ClientToken" android:value="@string/downWidget_fxRight"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:exported="false" android:label="@string/app_name" android:name="com.facebook.FacebookActivity" />
        <activity android:exported="true" android:name="com.facebook.CustomTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="&quot;fb245358521413979&quot;"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="cct.com.nsotcg.ufx596.wrmo" android:scheme="fbconnect"/>
            </intent-filter>
        </activity>
        <service android:exported="false" android:name="org.cocos2dx.javascript.GVTests.engagelab.UserService" android:process=":remote">
            <intent-filter>
                <action android:name="com.engagelab.privates.intent.USER_SERVICE"/>
            </intent-filter>
        </service>
        <receiver android:exported="false" android:name="org.cocos2dx.javascript.GVTests.engagelab.UserReceiver">
            <intent-filter>
                <action android:name="com.engagelab.privates.intent.USER_RECEIVER"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.nsotcg.ufx596.wrmo.FacebookInitProvider" android:exported="false" android:name="com.facebook.internal.FacebookInitProvider"/>
        <receiver android:exported="false" android:name="com.facebook.CurrentAccessTokenExpirationBroadcastReceiver">
            <intent-filter>
                <action android:name="com.facebook.GVTests.ACTION_CURRENT_ACCESS_TOKEN_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.facebook.AuthenticationTokenManager$CurrentAuthenticationTokenChangedBroadcastReceiver">
            <intent-filter>
                <action android:name="com.facebook.GVTests.ACTION_CURRENT_AUTHENTICATION_TOKEN_CHANGED"/>
            </intent-filter>
        </receiver>
        <activity android:configChanges="keyboardHidden|navigation|orientation|screenSize" android:exported="false" android:name="com.alipay.GVTests.app.H5PayActivity" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|navigation|orientation|screenSize" android:exported="false" android:name="com.alipay.GVTests.app.H5AuthActivity" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|navigation|orientation|screenSize" android:exported="true" android:launchMode="singleInstance" android:name="com.alipay.GVTests.app.PayResultActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:exported="true" android:launchMode="singleTask" android:name="com.alipay.GVTests.app.AlipayResultActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|navigation|orientation|screenSize" android:exported="false" android:name="com.alipay.GVTests.app.H5OpenAuthActivity" android:screenOrientation="behind" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:configChanges="keyboardHidden|navigation|orientation|screenSize" android:exported="false" android:name="com.alipay.GVTests.app.APayEntranceActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name="com.facebook.CustomTabMainActivity"/>
        <receiver android:exported="true" android:name="com.onesignal.FCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter android:priority="999">
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.nsotcg.ufx596.wrmo"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.onesignal.HmsMessageServiceOneSignal">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity android:exported="true" android:name="com.onesignal.NotificationOpenedActivityHMS" android:noHistory="true" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <service android:exported="false" android:name="com.onesignal.FCMIntentService"/>
        <service android:exported="false" android:name="com.onesignal.FCMIntentJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:exported="false" android:name="com.onesignal.SyncService" android:stopWithTask="true"/>
        <service android:exported="false" android:name="com.onesignal.SyncJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <activity android:exported="false" android:name="com.onesignal.PermissionsActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <receiver android:exported="true" android:name="com.onesignal.NotificationDismissReceiver"/>
        <receiver android:exported="true" android:name="com.onesignal.BootUpReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.onesignal.UpgradeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <activity android:excludeFromRecents="true" android:exported="true" android:name="com.onesignal.NotificationOpenedReceiver" android:noHistory="true" android:taskAffinity="" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:excludeFromRecents="true" android:exported="true" android:name="com.onesignal.NotificationOpenedReceiverAndroid22AndOlder" android:noHistory="true" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION" android:visibleToInstantApps="true"/>
        <activity android:excludeFromRecents="true" android:exported="true" android:launchMode="singleTask" android:name="com.engagelab.privates.common.component.MTCommonActivity" android:taskAffinity="" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="com.engagelab.privates.common.component.MTCommonActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.nsotcg.ufx596.wrmo"/>
            </intent-filter>
        </activity>
        <provider android:authorities="com.nsotcg.ufx596.wrmo.MTCommonProvider" android:exported="false" android:name="com.engagelab.privates.common.component.MTCommonProvider"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <provider android:authorities="com.nsotcg.ufx596.wrmo.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>

    </application>

</manifest>